
{{ define "main" }}
<div class="narrow_body">
  <h1 class="center">{{ .Title }}</h1>
  {{ .Content }}
  
  <!-- <nav class="categories">
    <a href="#" class="filter active">All</a>
    {{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
    <a href="#" class="filter">{{ .Title }}</a>
    {{ end }}
  </nav> -->
  
  <div id="posts">
    {{ range .Pages }}
    <article class="post {{ with .Params.categories }}{{ index . 0 }}{{ end }}">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <p>{{ .Description }}</p>
    </article>
    {{ end }}
  </div>
</div>
{{ end }}