
{{ define "main" }}
<div class="narrow_body">
  <h1 class="center">{{ .Title }}</h1>
  {{ .Content }}
  
    <h2>Categories</h2>
    <div class="dyn-items">
        <table><tr><td>
        <div class="filter-item active"><a href="#" class="filter-text-link">ALL</a></div>
        {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
        <div class="filter-item"><a href="#">{{.Title}}</a></div>
        {{end}}<br />
    </td></tr></table>
  </div>
  
  <div id="posts">
    {{ range .Pages }}
    <article class="post {{ with .Params.categories }}{{ index . 0 }}{{ end }}">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <p>{{ .Description }}</p>
    </article>
    {{ end }}
  </div>
</div>
{{ end }}